body {
    background-color: #E8E5E2;
    margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.logo{
  padding-right: 10%;
}

.logo img{
  max-width: 110px;
  width: auto;
}

.footer_grid{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
}
.footer_grid li{
  list-style: none;
  text-align: center;
  justify-content: center;
  font-family: 'Cambay';
  color: #544D3C;
  font-size: 12px;
}
.footer_grid ul{
  padding: 0;
}
.footer_gridv{
  grid-column: 1/2;
}
.footer_gridh{
  grid-column: 2/3;
}


/* BURGER MENU */
.burgermenu {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding-left: 20px;
    z-index: 10;
}

.burgermenu .line {
    width: 30px;
    height: 4px;
    background-color: #544D3C;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hero_img img{
  width: 100%;
}
.hero_img2 img{
  width: 100%;
  height: 50%;
}

nav ul.show {
    display: flex;
}

nav li {
    margin: 15px 0;
}

nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -18.5%;
    left: 0%;
    width: 220px;
    height: 677px;
    list-style-type: none;
    margin-top: 10%;
    padding: 150px 0 121px 100px;
    background-color: #898373;
  }

  .burgermenu.open .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    z-index: 1;
  }
  
  .burgermenu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .burgermenu.open .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    left: 20px;
    z-index: 1;
  }

  .navlinks a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Antic Didone', 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 5px 0 -25%;
    top: -50px;
  }

  .navlinks li {
    padding-bottom: 15px;

  }


  /* FORSIDE */
  /* GRØNNE TEKSTBOKSE, CITAT, PROJEKT OG KNAPPER */
  .citat{
    text-align: center;
    margin: 5%;
    color: #544D3C;
    font-family: 'Antic Didone', 'Times New Roman', Times, serif;
    font-size: 15px;
    p{
      font-size: 14px;
      padding-top: 5%;
    }
    hr{
      border: none;
      border-top: 1px solid #544D3C;
      width: 120px;    }
  }


  .greenbox_venstre1, .greenbox_venstre2, .greenbox_venstre3 {
    background-color: #544D3C;
    padding: 7%;
    h2 {
        color: white;
        font-size: 12px;
        margin-left: -7%;
        margin-top: -5%;
        font-family: Cambay, 'Times New Roman', Times, serif;
    }
    h3 {
      color: #fff;
      font-family: 'Antic Didone', 'Times New Roman', Times, serif;
    }
    p {
        color: white;
        font-size: 14px;
        font-family: Cambay, 'Times New Roman', Times, serif;
    }
  }

  
  .greenbox_højre1, .greenbox_højre2 {
    background-color: #544D3C;
    padding: 7%;
    h2 {
        color: white;
        font-size: 12px;
        margin-left: 90%;
        margin-top: -5%;
        font-family: Cambay, 'Times New Roman', Times, serif;
    }
    h3 {
      color: #fff;
      font-family: 'Antic Didone', 'Times New Roman', Times, serif;
      margin-left: 63.5%;
    }
    p {
        text-align: right;
        color: white;
        font-size: 14px;
        font-family: Cambay, 'Times New Roman', Times, serif;
    }
  }

  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img{
    width: 100%;
  }

  .knapper {
    background-color: #353127;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
  }
  .knapper2 {
    background-color: #353127;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .knapper a,
  .knapper2 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Antic Didone', 'Times New Roman', Times, serif;
  }


  /* STUDIESTARTSPRØVE, EMNESITE, PASSIONSSITE, VIRKSOMHEDSSITE, ANIMATIONSSPIL*/
  /* STYLING AF GRØN TEKSTBOKS OG BILLEDE */
  .green_box,
  .green_box2,
  .green_box3,
  .green_box4,
  .green_box5 {
    background-color: #544D3C;
    margin: 10%;
    padding: 5%;
  }

  .tekst_box {
    color: #fff;
    h2{
      font-family: 'Antic Didone', 'Times New Roman', Times, serif;
      text-align: center;
    }
    p{
      font-family: 'Cambay', 'Times New Roman', Times, serif;
      text-align: center;
      
    }
    hr{
      border: none;
      border-top: 1px solid #fff;
      width: 300px;
      padding-bottom: 3%;    
    }
  }

    .img_box,
    .img_box2,
    .img_box3,
    .img_box4,
    .img_box5{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 90%;
        height: auto;
        border: 1px solid #544D3C;
      }
    }

    .korttekst1,
    .korttekst2{
      background-color: #544D3C;
      padding: 8%;
      margin: 10%;
      p{
        color: #fff;
        font-family: 'Cambay';
      }
      }

      
    .grid_img1,
    .grid_img2,
    .grid_img2_emnesite,
    .grid_img2_passionssite,
    .grid_img2_virksomhedssite,
    .grid_img2_animation{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .grid_img1 img,
    .grid_img2 img,
    .grid_img2_emnesite img,
    .grid_img2_passionssite img,
    .grid_img2_virksomhedssite img,
    .grid_img2_animation img{
      width: 90%;
      height: auto;
      border: 1px solid #544D3C;
    }

    /* KNAP PÅ PROJEKTSIDER */
    .knap_container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10%;
    }
    .knap_projekt {
      background-color: #353127;
      width: 140px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .knap_projekt a {
      text-decoration: none;
      color: #fff;
      font-family: 'Antic Didone';
    }

    .knap_projekt:hover{
      background-color: #f8f7f3;
      border: solid #544D3C;
      border-width: 1px;
    }

    .knap_projekt:hover a{
      color: #544D3C;
    }


    /* OM MIG */
    .lille_p,
    .lille_p2,
    .lille_p3{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Cambay';
      font-size: 12px;
      color: #544D3C;
      padding-top: 15%;
    }

    .lille_p2{
      font-size: 14px;
      padding-top: 5%;
    }

    .lille_p3{
      font-size: 15px;
      padding-top: 5%;

    }

    .ommig_citat{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Antic Didone';
      font-size:20px;
      color: #544D3C;
      padding: 0 5% 0 5%;
    }

    .citat2{
      text-align: center;
      font-family: 'Antic Didone';
      p{
        font-size: 14px;
        padding-top: 5%;
      }
      hr{
        border: none;
        border-top: 1px solid #544D3C;
        width: 120px;    }
      }

      .linje{
        border: none;
        border-top: 1px solid #544D3C;
        width: 400px;
      }

      .mosaik1,
      .mosaik2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
      }

      .mosaik1 img,
      .mosaik2 img{
        width: 90%;
        height: auto;
      }

      .side_img1,
      .side_img2,
      .side_img3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
      }

      .side_img1 img,
      .side_img2 img,
      .side_img3 img{
        width: 90%;
        height: auto;
      }

      .greenbox_ommig{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #544D3C;
        margin: 5%;
        padding: 5%;
      }

      .greenbox_ommig p{
        color: #fff;
        font-family: 'Cambay';
        font-size: 15px;
        text-align: justify;
      }

      .cv{
        padding: 0;
      }
      .cv li{
        list-style: none;
        font-family: 'Cambay', 'Times New Roman', Times, serif;
        text-align: center;
        color: #fff;
        line-height: 2.5;
      }
      .cv p{
        text-align: justify;
        padding: 3% 5% 0 5%;
      }

    


  /* DESKTOP VERSION */
  @media (min-width: 800px) {
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-right: 3%;
    }
    .logo img{
      max-width: 120px;
      width: auto;
    }

    .citat{
      text-align: center;
      margin: 5%;
      color: #544D3C;
      font-family: 'Antic Didone', 'Times New Roman', Times, serif;
      font-size: 35px;
    }


    /* GRID FORSIDE */
    .tekst_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      background-color: #544D3C;
      padding: 7%;
      
    }

    .citat {
      display: grid;
      grid-column: 1/3;
    }

    .greenbox_venstre1 {
      display: grid;
      grid-column: 1/2;
      grid-row: 1;
      background-color: #E8E5E2;
      border: solid #544D3C;
      border-width: 1.5px;
      p{
        color: #544D3C;
      }
      h2{
        color: #544D3C;
      }
    }

    .greenbox_venstre2 {
      display: grid;
      grid-column: 1/2;
      grid-row: 3;
      background-color: #E8E5E2;
      border: solid #544D3C;
      border-width: 1.5px;
      p{
        color: #544D3C;
      }
      h2{
        color: #544D3C;
      }
    }

    .greenbox_venstre3 {
      display: grid;
      grid-column: 1/2;
      grid-row: 5;
      background-color: #E8E5E2;
      border: solid #544D3C;
      border-width: 1.5px;
      p{
        color: #544D3C;
      }
      h2{
        color: #544D3C;
      }
    }

    .greenbox_højre1 {
      display: grid;
      grid-column: 2/3;
      grid-row: 2;
      background-color: #E8E5E2;
      border: solid #544D3C;
      border-width: 1.5px;
      p{
        color: #544D3C;
      }
      h2{
        color: #544D3C;
      }
    }

    .greenbox_højre2 {
      display: grid;
      grid-column: 2/3;
      grid-row: 4;
      background-color: #E8E5E2;
      border: solid #544D3C;
      border-width: 1.5px;
      p{
        color: #544D3C;
      }
      h2{
        color: #544D3C;
      }
    }

    .img1 {
      display: grid;
      grid-column: 2/3;
      grid-row: 1;
      border: solid #544D3C;
      border-width: 1.5px;
    }

    .img2 {
      display: grid;
      grid-column: 1/2;
      grid-row: 2;
      border: solid #544D3C;
      border-width: 1.5px;
    }

    .img3 {
      display: grid;
      grid-column: 2/3;
      grid-row: 3;
      border: solid #544D3C;
      border-width: 1.5px;
    }

    .img4 {
      display: grid;
      grid-column: 1/2;
      grid-row: 4;
      border: solid #544D3C;
      border-width: 1.5px;
    }

    .img5 {
      display: grid;
      grid-column: 2/3;
      grid-row: 5;
      border: solid #544D3C;
      border-width: 1.5px;
    }

    .img1, .img2, .img3, .img4, .img5 {
      aspect-ratio: 1 / 1;
    }
  
    .img1 img, .img2 img, .img3 img, .img4 img, .img5 img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }


  /* STYLING AF TEKSTBOKSE I GRID FORSIDE */
    .tekst_container{
      .speciel_h2v{
        margin-left: -4%;
        font-size: 16px;
      }
      .speciel_h3v{
        margin-top: 40%;
        font-size: 30px;
        color: #544D3C;
      }
      .p_venstre{
        font-size: 15px;
        max-width: 50ch;
        text-align: left;
      }
      .speciel_h2h{
        margin-left: 96%;
      }
      .speciel_h3h{
        margin-top: 40%;
        margin-left: 78%;
        font-size: 30px;
        color: #544D3C;
      }
      .speciel_h3_2{
        margin-top: 40%;
        margin-left: 59.5%;
        font-size: 30px;
        color: #544D3C;
      }
      .p_højre{
        font-size: 15px;
        max-width: 49ch;
        text-align: right;
        margin-left: 33%;
      }
      .knapper{
        margin-left: 80%;
        margin-bottom: -10%;
      }
      .knapper:hover{
        background-color: #f8f7f3;
        border: solid #544D3C;
        border-width: 1px;
      }
      .knapper:hover a{
        color: #544D3C;
      }
      .knapper2:hover{
        background-color: #f8f7f3;
        border: solid #544D3C;
        border-width: 1px;
      }
      .knapper2:hover a{
        color: #544D3C;
      }

    }


    /* STUDIESTARTSPRØVE */
    /* STYLING AF TEKSTBOKS OG IMG */
    .citat{
      margin-bottom: 0%;
    }
    .green_box{
      margin: 4% 60% 7% 0;
      padding-bottom: 10%;
      position: relative;
    }
    .tekst_box{
      h2{
        padding-top: 15%;
      }
      p{
        line-height: 2.2;
      }
    }

    .img_box img{
      width: 70%;
      height: auto;
      border: 1px solid #544D3C;
    }
    .img_box{
      position: absolute;
      top: 198%;
      right: 370px;
      z-index: 2;
    }


    /* EMNESITE */
    /* STYLING AF TEKSTBOKS OG IMG */

    .green_box2{
      position: relative;
      margin: 4% 0 7% 60%;
      padding-bottom: 10%;
    }

    .img_box2 img{
      width: 70%;
      height: auto;
      border: 1px solid #544D3C;
    }

    .img_box2{
      position: absolute;
      right: 430px;
      top: 217%;
    }


    /* PASSIONSSITE */
    /* STYLING AF TEKSTBOKS OG IMG */
    .green_box3{
      margin: 4% 60% 7% 0;
      padding-bottom: 10%;
      position: relative;
    }


    .img_box3 img{
      width: 90%;
      height: auto;
      border: 1px solid #544D3C;
    }


    .img_box3{
      position: absolute;
      top: 197.5%;
      right: 400px;
      z-index: 2;
    }


    /* VIRKSOMHEDSSITE */
    /* STYLING AF TEKSTBOKS OG IMG */
    .green_box4{
      position: relative;
      margin: 4% 0 7% 60%;
      padding-bottom: 10%;
    }


    .img_box4 img{
      width: 90%;
      height: auto;
      border: 1px solid #544D3C;
    }


    .img_box4{
      position: absolute;
      right: 520px;
      top: 187%;
    }


    /* ANIMATIONSSPIL */
    /* STYLING AF TEKSTBOKS OG IMG */
    .green_box5{
      margin: 4% 60% 7% 0;
      padding-bottom: 10%;
      position: relative;
    }


    .img_box5 img{
      width: 100%;
      height: auto;
      border: 1px solid #544D3C;
    }


    .img_box5{
      position: absolute;
      top: 188%;
      right: 270px;
      z-index: 2;
    }



    /* GRID PÅ PROJEKTSIDER */
    .grid_1-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      padding: 0;
      margin: 0;
    }

    .grid_1-1 p{
      margin: 0;
      padding: 0;
    }

    .grid_img1{
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 10%;
    }

    .grid_img2{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10%;
    }
    
    .grid_img2_emnesite{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10%;
    }

    .grid_img2_passionssite{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10%;
    }

    .grid_img2_virksomhedssite{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10%;
    }

    .grid_img2_animation{
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10%;
    }

    .korttekst1{
      grid-column: 1/2;
      grid-row: 2/3;
      background-color: transparent;
      margin: 0;
      padding: 0 16% 0 16%;
    }

    .korttekst2{
      grid-column: 2/3;
      grid-row: 2/3;
      background-color: transparent;
      margin: 0;
      padding: 0 16% 10% 16%;
    }

    .korttekst1 p,
    .korttekst2 p{
      color: #544D3C;
      margin: 0;
      padding: 0;
    }

    .grid_img1 img,
    .grid_img2 img,
    .grid_img2_emnesite img,
    .grid_img2_passionssite img,
    .grid_img2_virksomhedssite img,
    .grid_img2_animation img{
      width: 100%;
      height: auto;
      border: 45px solid #544D3C;
    }


    /* KNAP PÅ PROJEKTSIDER */
    .knap_container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3%;
    }
    .knap_projekt {
      background-color: #353127;
      width: 140px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .knap_projekt a {
      text-decoration: none;
      color: #fff;
      font-family: 'Antic Didone';
    }

    .knap_projekt:hover{
      background-color: #f8f7f3;
      border: solid #544D3C;
      border-width: 1px;
    }

    .knap_projekt:hover a{
      color: #544D3C;
    }

    /* OM MIG */
    .lille_p{
      p{
        font-size: 16px;
        padding: 0;
      }
    }

    .ommig_citat{
      font-size: 40px;
      padding: 0 13% 0 13%;
    }

    .mosaik1{
      position: relative;
      left: 200px;
    }
    .mosaik1 img{
      width: 45%;
      height: auto;
      display: block;
    }
    .mosaik2{
      position: absolute;
      top: 239%;
      left: 17%;
    }
    .mosaik2 img{
      width: 100%;
    }

    .greenbox_ommig{
      background-color: transparent;
      margin: 3% 0 6% 0;
      padding: 0 25% 0 25%;
      display: block;
    }
    .greenbox_ommig p{
      color: #544D3C;
      padding: 3% 13% 0 13%;
    }

    .side_img{
      max-height: 870px;
    }
    .side_img1{
      width: 40%;
      height: auto;
      overflow: hidden;
      position: relative;
      right: 20%;
    }
    .side_img2{
      width: 40%;
      height: auto;
      overflow: hidden;
      position: relative;
      left: 72%;
      bottom: 50%;
      transform: translateY(-65%);
    }
    .side_img3{
      width: 40%;
      height: auto;
      overflow: hidden;
      position: relative;
      right: 23%;
      transform: translateY(-165%);

    }

    .tekstboks_cv{
      transform: translateY(-66%);
    }

    .cv{
      padding-right: 4%;
    }
    .cv li{
      list-style: none;
      font-family: 'Cambay', 'Times New Roman', Times, serif;
      text-align: center;
      color: #544D3C;
      line-height: 2.5;
    }
    .cv p{
      text-align: justify;
      padding: 3% 15% 0 15%;
    }

    .linje_ommig{
      position: absolute;
      top: 595%;
      left: 35.5%;
    }

    .footer_grid li{
      font-size: 15px;
    }
    footer{
      padding: 5%;
      background-color: #363125;
    }
    .footer_grid li{
      list-style: none;
      text-align: center;
      justify-content: center;
      font-family: 'Cambay';
      color: #fff;
    }

}
  


